<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Aylien API Front-End</title>
    </head>

    <body>

        <header>
            <div class="">
                Aylien API Front-End
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="classify-form">
                    <input type="text" id="url" name="url" placeholder="Enter article URL">
                    <input type="submit" value="Analyse">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>Robin Edmunds - 2019</p>
        </footer>

    </body>
</html>
